<h2 mat-dialog-title>{{ data.currency ? 'Edit' : 'Add' }} Currency</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="flex flex-col gap-4">
    <mat-form-field appearance="outline"  subscriptSizing="dynamic">
      <mat-label>Code</mat-label>
      <input matInput formControlName="code" placeholder="USD" maxlength="10">
      <mat-error *ngIf="form.get('code')?.hasError('required')">Code is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Symbol</mat-label>
      <input matInput formControlName="symbol" placeholder="$" maxlength="5">
      <mat-error *ngIf="form.get('symbol')?.hasError('required')">Symbol is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="US Dollar">
      <mat-error *ngIf="form.get('name')?.hasError('required')">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Conversion Rate to PEN</mat-label>
      <input matInput type="number" formControlName="conversionRate" placeholder="3.36" step="0.01" min="0.01">
      <mat-hint>1 {{ form.get('code')?.value || 'Currency' }} = {{ form.get('conversionRate')?.value || 1 }} PEN</mat-hint>
      <mat-error *ngIf="form.get('conversionRate')?.hasError('required')">Conversion rate is required</mat-error>
      <mat-error *ngIf="form.get('conversionRate')?.hasError('min')">Conversion rate must be greater than 0</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>
